<div class="container">
      <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Subaru Form Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://forums.nasioc.com/">NASIOC Forum</a></li>
        <li><a href="https://www.subaru.com/zh/index.html">Subaru</a></li>
        <li><a href="https://parts.subaru.com/">Subaru Parts</a></li>
      </ul>
    </div>
  </nav>

    </div>