<div class="container">
    <div class="col-md-12 jumbotron">
      <h1>NY Times Sports Section</h1>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
      <div class="col-md-12">
        {{#each articles}}
        <h5>{{this.title}}</h5>
        {{/each}}
      </div>
        <div class="body">
          <p>{{this.summary}}</p>
          <a href={{this.link}} target="_blank">{{this.link}}</a>
        </div>
    </div>